.login_body{
  width:100%;
  height:100vh;
  display:flex;
  justify-content: space-around;

  }
h1{
  color:#026602;
}

.login__form {
  position:absolute;
  padding: 6rem;
  background: #fafafaa2;
  margin-top: 10%;
  height: 43%;
  width: 30%;
  background-color: rgba(255, 255, 255, 0.466);
  right: 5%;
}
.form-group{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
input{
  font-size:1.3rem;
}
label {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #00ff00;
}
option {
  background-color: #00b600;
}
option :checked, option :hover {

background-color: darkblue;
}
.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
  font-size: 1.3rem;
}

.form-control:focus {
  border-color: #026602;
}

  select {
    width: 167px;
    height: 53px;
    font-size: 22px;
}

.list-inline{
  display:flex;
  justify-content: center;
}
.btn--form {
  padding: .5rem 2.5rem;
  font-size: .95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #026602;
  border-radius: remy(35px);
}

.btn--form:focus, .btn--form:hover {
  background: #323232;
}

.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
}

.signup__link:focus, .signup__link:hover {
  color: #014201;
}


